Import Require Libraried

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

pd.options.display.float_format = '{:20.2f}'.format

pd.set_option('display.max_columns', 999)

In [4]:
df = pd.read_excel('online_retail_II.xlsx', sheet_name = 0)

In [5]:
df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.00,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.00,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.00,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.00,United Kingdom

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [8]:
df.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,525461.00,525461,525461.00,417534.00
mean,10.34,2010-06-28 11:37:36.845017856,4.69,15360.65
min,-9600.00,2009-12-01 07:45:00,-53594.36,12346.00
25%,1.00,2010-03-21 12:20:00,1.25,13983.00
50%,3.00,2010-07-06 09:51:00,2.10,15311.00
75%,10.00,2010-10-15 12:45:00,4.21,16799.00
max,19152.00,2010-12-09 20:01:00,25111.09,18287.00
std,107.42,NaN,146.13,1680.81

In [9]:
df.describe(include='O') # O = object dtype

        Invoice StockCode                         Description         Country
count    525461    525461                              522533          525461
unique    28816      4632                                4681              40
top      537434    85123A  WHITE HANGING HEART T-LIGHT HOLDER  United Kingdom
freq        675      3516                                3549          485852

In [11]:
df[df['Customer ID'].isna()].head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.00,NaN,United Kingdom
283,489463,71477,short,-240,2009-12-01 10:52:00,0.00,NaN,United Kingdom
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.00,NaN,United Kingdom
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.00,NaN,United Kingdom
577,489525,85226C,BLUE PULL BACK RACING CAR,1,2009-12-01 11:49:00,0.55,NaN,United Kingdom
578,489525,85227,SET/6 3D KIT CARDS FOR KIDS,1,2009-12-01 11:49:00,0.85,NaN,United Kingdom
1055,489548,22271,FELTCRAFT DOLL ROSIE,1,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1056,489548,22254,FELT TOADSTOOL LARGE,12,2009-12-01 12:32:00,1.25,NaN,United Kingdom
1057,489548,22273,FELTCRAFT DOLL MOLLY,3,2009-12-01 12:32:00,2.95,NaN,United Kingdom
1058,489548,22195,LARGE HEART MEASURING SPOONS,1,2009-12-01 12:32:00,1.65,NaN,United Kingdom

In [14]:
df.loc[225]

Invoice                                 489461
StockCode                                21669
Description    BLUE STRIPE CERAMIC DRAWER KNOB
Quantity                                    24
InvoiceDate                2009-12-01 10:49:00
Price                                     1.25
Customer ID                           17865.00
Country                         United Kingdom
Name: 225, dtype: object

In [15]:
df[df['Description'].str.contains('Dotcom Sales', case=False, na=False)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
219360,510686,46000R,dotcom sales,-28,2010-06-03 10:05:00,0.00,NaN,United Kingdom
525234,538161,46000S,Dotcom sales,-100,2010-12-09 17:25:00,0.00,NaN,United Kingdom
525235,538162,46000M,Dotcom sales,-100,2010-12-09 17:25:00,0.00,NaN,United Kingdom

In [16]:
df[df['Quantity'] < 0].head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.00,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.00,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.00,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
183,C489449,21871,SAVE THE PLANET MUG,-12,2009-12-01 10:33:00,1.25,16321.00,Australia
184,C489449,84946,ANTIQUE SILVER TEA GLASS ETCHED,-12,2009-12-01 10:33:00,1.25,16321.00,Australia
185,C489449,84970S,HANGING HEART ZINC T-LIGHT HOLDER,-24,2009-12-01 10:33:00,0.85,16321.00,Australia
186,C489449,22090,PAPER BUNTING RETRO SPOTS,-12,2009-12-01 10:33:00,2.95,16321.00,Australia
196,C489459,90200A,PURPLE SWEETHEART BRACELET,-3,2009-12-01 10:44:00,4.25,17592.00,United Kingdom

In [17]:
df[(df['StockCode'] == '35004B') & (df['Quantity'] < 0)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
17677,C490807,35004B,SET OF 3 BLACK FLYING DUCKS,-12,2009-12-08 12:25:00,4.65,13091.00,United Kingdom
18454,C490946,35004B,SET OF 3 BLACK FLYING DUCKS,-12,2009-12-08 14:28:00,4.65,13091.00,United Kingdom
29120,C491823,35004B,SET OF 3 BLACK FLYING DUCKS,-4,2009-12-14 13:55:00,1.95,13078.00,United Kingdom
45817,C493539,35004B,SET OF 3 BLACK FLYING DUCKS,-3,2010-01-04 15:35:00,1.95,13078.00,United Kingdom
89840,C497900,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-02-14 12:50:00,5.45,12872.00,United Kingdom
98523,C498606,35004B,SET OF 3 BLACK FLYING DUCKS,-2,2010-02-21 16:19:00,5.45,12747.00,United Kingdom
103769,C499291,35004B,SET OF 3 BLACK FLYING DUCKS,-2,2010-02-25 19:32:00,4.65,13777.00,United Kingdom
124173,C501271,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-03-15 13:31:00,4.65,17448.00,United Kingdom
186066,C507118,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-05-06 11:38:00,4.65,15311.00,United Kingdom
191922,C507612,35004B,SET OF 3 BLACK FLYING DUCKS,-2,2010-05-10 14:03:00,4.65,15311.00,United Kingdom
272069,C515798,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-07-14 16:15:00,4.65,13078.00,United Kingdom
290427,C517701,35004B,SET OF 3 BLACK FLYING DUCKS,-4,2010-07-30 17:08:00,4.65,14031.00,United Kingdom
379183,C525930,35004B,SET OF 3 BLACK FLYING DUCKS,-2,2010-10-07 16:54:00,1.95,16145.00,United Kingdom
402008,C527923,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-10-19 13:19:00,1.95,13078.00,United Kingdom
430556,C530519,35004B,SET OF 3 BLACK FLYING DUCKS,-12,2010-11-03 12:39:00,1.95,15694.00,United Kingdom
434372,530876,35004B,?,-230,2010-11-04 15:03:00,0.00,NaN,United Kingdom
448885,C532086,35004B,SET OF 3 BLACK FLYING DUCKS,-3,2010-11-10 15:26:00,1.95,14031.00,United Kingdom
507877,C536826,35004B,SET OF 3 BLACK FLYING DUCKS,-2,2010-12-02 17:30:00,4.65,17924.00,United Kingdom
507878,C536826,35004B,SET OF 3 BLACK FLYING DUCKS,-3,2010-12-02 17:30:00,4.65,17924.00,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031.00,United Kingdom

The letter 'c', it indicates a cancellation.  eg. C4909807

In [20]:
df[df['StockCode'] == '35004B']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
23,489436,35004B,SET OF 3 BLACK FLYING DUCKS,12,2009-12-01 09:06:00,4.65,13078.00,United Kingdom
2203,489597,35004B,SET OF 3 BLACK FLYING DUCKS,3,2009-12-01 14:28:00,13.00,NaN,United Kingdom
8400,490075,35004B,SET OF 3 BLACK FLYING DUCKS,12,2009-12-03 14:42:00,4.65,18229.00,United Kingdom
9749,490149,35004B,SET OF 3 BLACK FLYING DUCKS,1,2009-12-04 09:43:00,13.00,NaN,United Kingdom
11765,490331,35004B,SET OF 3 BLACK FLYING DUCKS,1,2009-12-04 15:30:00,5.45,18181.00,United Kingdom
...,...,...,...,...,...,...,...,...
507878,C536826,35004B,SET OF 3 BLACK FLYING DUCKS,-3,2010-12-02 17:30:00,4.65,17924.00,United Kingdom
512200,537196,35004B,SET OF 3 BLACK FLYING DUCKS,1,2010-12-05 13:55:00,5.45,15426.00,United Kingdom
515932,537405,35004B,SET OF 3 BLACK FLYING DUCKS,1,2010-12-06 14:51:00,5.45,17841.00,United Kingdom
520243,537700,35004B,SET OF 3 BLACK FLYING DUCKS,12,2010-12-08 10:51:00,4.65,18229.00,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031.00,United Kingdom

In [40]:
df['Invoice'] = df['Invoice'].astype('str')
df[df['Invoice'].str.match('\\d{6}$') == True]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.00,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.00,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.00,United Kingdom

In [41]:
df['Invoice'].str.replace('[0-9]', '', regex = True).unique()

array(['', 'C', 'A'], dtype=object)

In [42]:
df.head(10)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.00,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.00,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.00,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.00,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.00,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.00,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.00,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.00,United Kingdom

In [44]:
df[df['Invoice'].str.startswith('A')]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
179403,A506401,B,Adjust bad debt,1,2010-04-29 13:36:00,-53594.36,NaN,United Kingdom
276274,A516228,B,Adjust bad debt,1,2010-07-19 11:24:00,-44031.79,NaN,United Kingdom
403472,A528059,B,Adjust bad debt,1,2010-10-20 12:04:00,-38925.87,NaN,United Kingdom

In [47]:
df[df['Invoice'].str.startswith('C')].all()

/var/folders/t7/ysyk1bxd7sjgcsxwz34swgf40000gn/T/ipykernel_96702/4259793367.py:1: FutureWarning: 'all' with datetime64 dtypes is deprecated and will raise in a future version. Use (obj != pd.Timestamp(0)).all() instead.
  df[df['Invoice'].str.startswith('C')].all()

Invoice        True
StockCode      True
Description    True
Quantity       True
InvoiceDate    True
Price          True
Customer ID    True
Country        True
dtype: bool

In [48]:
df[df['Invoice'].str.startswith('C')].shape[0]

10206

In [59]:
df['StockCode'] = df['StockCode'].astype('str')

df[(df['StockCode'].str.match('^\\d{5}$') == False) & 
   (df['StockCode'].str.match('^\\d{5}[a-zA-Z]+$') == False)]['StockCode'].unique()

array(['POST', 'D', 'DCGS0058', 'DCGS0068', 'DOT', 'M', 'DCGS0004',
       'DCGS0076', 'C2', 'BANK CHARGES', 'DCGS0003', 'TEST001',
       'gift_0001_80', 'DCGS0072', 'gift_0001_20', 'DCGS0044', 'TEST002',
       'gift_0001_10', 'gift_0001_50', 'DCGS0066N', 'gift_0001_30',
       'PADS', 'ADJUST', 'gift_0001_40', 'gift_0001_60', 'gift_0001_70',
       'gift_0001_90', 'DCGSSGIRL', 'DCGS0006', 'DCGS0016', 'DCGS0027',
       'DCGS0036', 'DCGS0039', 'DCGS0060', 'DCGS0056', 'DCGS0059', 'GIFT',
       'DCGSLBOY', 'm', 'DCGS0053', 'DCGS0062', 'DCGS0037', 'DCGSSBOY',
       'DCGSLGIRL', 'S', 'DCGS0069', 'DCGS0070', 'DCGS0075', 'B',
       'DCGS0041', 'ADJUST2', '47503J ', 'C3', 'SP1002', 'AMAZONFEE'],
      dtype=object)

In [64]:
df[df['StockCode'].str.contains('^DOT')]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
2379,489597,DOT,DOTCOM POSTAGE,1,2009-12-01 14:28:00,647.19,NaN,United Kingdom
2539,489600,DOT,DOTCOM POSTAGE,1,2009-12-01 14:43:00,55.96,NaN,United Kingdom
2551,489601,DOT,DOTCOM POSTAGE,1,2009-12-01 14:44:00,68.39,NaN,United Kingdom
2571,489602,DOT,DOTCOM POSTAGE,1,2009-12-01 14:45:00,59.35,NaN,United Kingdom
2619,489603,DOT,DOTCOM POSTAGE,1,2009-12-01 14:46:00,42.39,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
524272,538071,DOT,DOTCOM POSTAGE,1,2010-12-09 14:09:00,885.94,NaN,United Kingdom
524887,538148,DOT,DOTCOM POSTAGE,1,2010-12-09 16:26:00,547.32,NaN,United Kingdom
525000,538149,DOT,DOTCOM POSTAGE,1,2010-12-09 16:27:00,620.68,NaN,United Kingdom
525126,538153,DOT,DOTCOM POSTAGE,1,2010-12-09 16:31:00,822.94,NaN,United Kingdom
525147,538154,DOT,DOTCOM POSTAGE,1,2010-12-09 16:35:00,85.79,NaN,United Kingdom

Notes

Stock Code

StockCode is meant to follow the pattern [0-9]{5} but seems to have legit values for [0-9]{5}[a-zA-Z]+

| Code        | Description                                                                 | Action                     |
|--------------|------------------------------------------------------------------------------|-----------------------------|
| DCGS         | Looks valid, some quantities are negative though and customer ID is null     | Exclude from clustering     |
| D            | Looks valid, represents discount values                                      | Exclude from clustering     |
| DOT          | Looks valid, represents postage charges                                      | Exclude from clustering     |
| M or m       | Looks valid, represents manual transactions                                 | Exclude from clustering     |
| C2           | Carriage transaction - not sure what this means                             | Exclude from clustering     |
| C3           | Not sure, only 1 transaction                                                | Exclude                     |
| BANK CHARGES or B | Bank charges                                                           | Exclude from clustering     |
| S            | Samples sent to customer                                                    | Exclude from clustering     |
| TESTXXX      | Testing data, not valid                                                     | Exclude from clustering     |
| gift__XXX    | Purchases with gift cards, might be interesting for another analysis, but no customer data | Exclude |
| PADS         | Looks like a legit stock code for padding                                   | Include                     |
| SP1002       | Looks like a special request item, only 2 transactions, 3 look legit, 1 has 0 pricing | Exclude for now             |
| AMAZONFEE    | Looks like fees for Amazon shipping or something                            | Exclude for now             |
| ADJUSTX      | Looks like manual account adjustments by admins                             | Exclude for now             |